/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
header {
    background-color: white !important;
    position: sticky !important;
    /* top: 100px; */
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    z-index: 4;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
    border-bottom: 4px solid #978667;
    border-radius: 10px;
    transition: 1s ease-out;
    overflow: hidden;
}

.rotate {
    transform: rotate(180deg);
}

.dropdown-content ul a {
    text-align: left;
    display: block;
    cursor: pointer;
    margin-left: 0px;
    padding: 8px 19px;
    border-bottom: 1px solid #f1f0ee;
    display: block;
}

.nav__bar {
    padding: 0 26px;
}

.dropdown-content ul a:hover {
    background: #f1f0ee;
}

.dropdown-content ul a:last-child {
    border-bottom: none;
}

.dropdown_ative {
    display: block;
}

.fa-angle-down {
    margin-left: 5px;
}

.btn_book {
    background: #978667;
    padding: 9px 18px;
    color: white;
    border-radius: 3px;
}

.nav__bar,
.icons-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;
    color: #978667;
    font-size: 25px;
    margin-right: 9px;
}

#show-menu {
    display: none;
}

header nav ul li {
    color: #978667;
    cursor: pointer;
}

.side__bar ul li {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
}

.box_cont{
    width: 70%;
}
.side__bar{
    width: 30%;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cont {
    border-radius: 5px;
    color: #978667;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.cont .icon {
    background-color: gainsboro;
    padding: 20px;
    border-radius: 100%;
}

.user_cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}
.container1{
    width: 100%;
    padding:3em;
}
th {
    background-color: #dddddd;
    padding: 11px;
}
.side__bar ul{
    padding: 0px !important;
    margin: 0px !important;
}

.open_icon{
    position: fixed;
    right: 0;
    top: 80px;
    color: #978667;
    font-size: 30px;
    background-color: white;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.cont h5{
    color: #978667;
    font-size: 18px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

.close{
    color: red;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .open_icon, .user_cont {
        display: block;
        
    }
    .box_cont{
        width: 100%;
    }
    .side__bar{
        width: 30%;
        background-color: white;
        height: 90vh;
        position: fixed;
        left: -100%;
        bottom: 0;
        z-index: 10;
        padding: 0 25px;
        transition: .5s ease-in-out;
        top: 65px;
    }

    .side__bar__active{
        left: 0;
        transition: .5s ease-in-out;
    }

    .side__bar ul li {
        margin: 10px 10px;
    }
    .side__bar ul li:first-child {
        margin-top: 20px;
    }

    .menu-icon {
        display: block;
    }

    .menu-list {
        position: absolute;
        background-color: white;
        top: 70px;
        width: 100%;
        left: -100%;
        padding: 0 25px;
        transition: .5s ease-out;
        padding-bottom: 15px;
    }

    header nav ul li {
        display: block !important;
        text-align: left;
        margin-left: 0px;
        padding: 10px 0px;
    }

    .nav__bar {
        padding: 0 25px;
    }


    header #show-menu:checked~.menu-list {
        left: 0;
    }

    header #show-menu:checked~.menu-icon i::before {
        content: '\f00d';
        color: #3B840C;
    }
   

}

@media (max-width: 900px) {
    

    .box {
        grid-template-columns: repeat(2, 1fr);
    }
    .side__bar{
        height: 100vh;
    }

}

@media (max-width: 850px) {
    
    table {
        width: 900px;


    }
    .table {
        width: 100%;
        overflow: auto;

    }

    .side__bar{
        width: 50%;
        top: 60px;

    }



}

@media (max-width: 650px) {
    .nav__bar {
        padding: 0 16px;
    }

    .menu-list {
        padding-bottom: 20px;
        padding: 0 16px;

    }

    .dropdown-content ul a {
        padding: 0px 19px !important;
        border-bottom: none;

    }

    header nav ul li {

        padding: 7px 0px;
    }

    header nav ul li:last-child {

        margin-bottom: 13px;
    }

    .box {
        grid-template-columns: repeat(1, 1fr);
    }

    .side__bar{
        width: 75%;
        padding: 0 6px;

    }


}